/* Set up */

:root {
  --main-color: #0077b5;
  --main-color-hover: #026ca3;
  --second-color: #1db954;
  --third-color: #e1f9e1;
  --fourth-color: #03142e;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-size: 3rem;
}

.a-button {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 25px;
  color: #fff;
  box-shadow: -2px 2px 10px #000;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
}

.a-button:hover {
  background-color: var(--main-color-hover);
}

.logo {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: unset;
  font-size: 2rem;
}

.main-color {
  color: var(--main-color);
}

.second-color {
  color: var(--second-color);
}

@media screen and (max-width: 768px) {
  .a-button {
    font-size: 1rem;
  }

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}

/* Nav */

header {
  position: sticky;
  z-index: 3;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 80px;
  padding: 20px 40px;
  box-shadow: 0 -5px 20px #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wide-nav {
  list-style: none;
}

.wide-nav li {
  display: inline-block;
  margin-left: 30px;
  font-size: 1.3rem;
  position: relative;
}

.wide-nav li::after {
  content: '';
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--main-color);
  transition: transform 0.2s ease-in-out;
}

.wide-nav li:hover::after {
  transform: scaleX(1);
}

.wide-nav li a {
  color: unset;
  text-decoration: none;
}

.short-nav {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.line:first-child {
  transform-origin: left center;
}

.line:last-child {
  transform-origin: left center;
}

.hamburger.clicked .line:first-child {
  transform: rotate(45deg) scaleX(1.2);
}

.hamburger.clicked .line:nth-child(2) {
  opacity: 0;
}

.hamburger.clicked .line:last-child {
  transform: rotate(-45deg) scaleX(1.2);
}

.short-nav ul {
  display: flex;
  position: absolute;
  list-style: none;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 0;
  right: 0;
  top: 80px;
  background-color: var(--main-color);
  box-shadow: inset;
  height: calc(100vh - 80px);
  color: #fff;
  overflow: hidden;
  transition: width 0.3s, right 0.3s;
  box-shadow: inset 0 9px 9px -7px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  gap: 20px;
  font-size: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.short-nav ul li {
  display: block;
  width: 400px;
  max-width: 80vw;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.short-nav ul li:first-child {
  margin-top: 80px;
}

.short-nav ul li a {
  text-decoration: none;
  color: unset;
}

.hamburger.clicked + ul {
  width: 100%;
  right: 0;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 20px;
  }

  .wide-nav li {
    margin-left: 15px;
    font-size: 1.1rem;
  }

  header .logo {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .wide-nav {
    display: none;
  }

  .short-nav {
    display: block;
  }
}

/* Main section */

.main-background {
  background-image: url('../assets/images/background.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  display: flex;
  position: relative;
}

.welcome {
  letter-spacing: 1.5px;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  border-radius: 25px 25px 25px 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  text-align: center;
}

.welcome .logo {
  font-size: 3rem;
  letter-spacing: normal;
}

.main-background .a-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* improve your english section */

.improve-your-english {
  text-align: center;
  background-color: var(--second-color);
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.spotify-frame {
  width: 600px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .improve-your-english {
    padding: 60px 30px;
  }
}

/* Features */

.feature-block {
  padding: 30px;
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.features {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.feature {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features p {
  color: #fff;
}

.features img {
  filter: brightness(0%) contrast(200%) saturate(0%) invert(100%);
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
    gap: 20px;
  }

  .feature {
    max-width: unset;
  }
}

/* Courses */

#kursy {
  background-color: var(--third-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#kursy h2,
#kursy h3 {
  text-align: center;
}

.courses-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.courses-box p {
  text-align: justify;
}

.courses {
  max-width: 40%;
  min-width: 375px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -5px #000;
}

.courses img {
  width: 100%;
  /* display: none; */
  border-radius: 25px;
}

.course-text {
  color: #000;
  padding: 30px 60px;
}

.course-offer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.course-offer li {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.course-offer li::before {
  content: '\00BB';
  color: #03142e;
}

@media screen and (max-width: 1200px) {
  #kursy {
    padding: 20px 5px;
  }

  .course-text {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .courses-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .courses {
    max-width: 90%;
  }

  .course-text {
    padding: 30px;
  }
}

/* Footer */

footer {
  background-color: var(--fourth-color);
  padding: 20px 40px;
  color: #fff;
}

footer .logo {
  text-align: center;
  margin-bottom: 30px;
}

.footer-sections {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

footer section h3 {
  margin-bottom: 20px;
}

footer .site-map,
footer .contact,
footer .sign-in {
  max-width: 30%;
}

footer form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  gap: 15px;
}

footer input[type='text'],
footer input[type='email'],
footer select,
footer input[type='submit'] footer input[type='email'],
footer select,
footer input[type='tel'],
footer input[type='submit'] {
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
}

footer input[type='email'],
footer select,
footer input[type='submit'] footer input[type='email'],
footer select,
footer input[type='tel'],
footer input[type='submit'] {
  grid-column: span 2;
}

footer input[type='submit'] {
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

footer input[type='submit']:hover {
  background-color: var(--main-color-hover);
}

.select {
  position: relative;
  display: inline-block;
}
.select select {
  font-family: 'Arial';
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 10px;
  background: #fff;
  color: #03142e;
}

footer a {
  color: unset;
  text-decoration: none;
  opacity: 0.8;
}

footer a:hover {
  text-decoration: underline;
}

footer .contact-data {
  opacity: 0.8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-info {
  text-align: center;
  font-size: 0.8rem;
  color: #eee;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  footer form {
    grid-template-columns: repeat(1fr, 1);
  }

  footer input[type='email'],
  footer select,
  footer input[type='submit'] footer input[type='email'],
  footer select,
  footer input[type='tel'],
  footer input[type='submit'] {
    grid-column: unset;
  }
}

@media screen and (max-width: 768px) {
  .footer-sections {
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 30px;
  }

  footer .site-map,
  footer .contact,
  footer .sign-in {
    max-width: unset;
    width: 90%;
  }

  footer .contact-data {
    justify-content: flex-start;
  }
}

/* Error page */

.error-block {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h1 {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -5px #000;
  padding: 40px;
  margin: 0;
}

/* Popout message */

.errorMessage {
  color: #ff3333;
}

.errorMessage::before {
  content: '*';
  color: #ff3333;
  margin-right: 5px;
}

/* Subpages */

.subpage {
  margin: 20px;
  padding: 40px;
  box-shadow: 0px 0px 15px -5px #000;
  border-radius: 25px;
  background-color: var(--fourth-color);
  color: #fff;
}

/* Corses subpage */

.subpage .course-text {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px #000;
  padding: 20px 40px;
  border-radius: 25px;
}

.subpage .course-text p {
  text-align: left;
}

#kursy h2 {
  margin-bottom: 20px;
}

.subpage h3 {
  color: #000;
  font-size: 1.8rem;
  margin: 20px 0;
}

.subpage h4 {
  display: inline-block;
  font-size: 1.2rem;
  padding-bottom: 2px;
  border-bottom: 3px solid var(--main-color);
}

.subpage .courses {
  color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 15px -5px #fff;
}

@media screen and (max-width: 768px) {
  .subpage {
    margin: 0;
    padding: 20px 5px;
  }
}

/* Teachers subpage */

.subpage .teachers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.teacher {
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  width: 30%;
  min-width: 350px;
}

.subpage .teacher h3 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 3px solid var(--main-color);
}

.teacher-text {
  padding: 40px;
  padding-top: 0;
  text-align: justify;
}

.teacher img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.teacher p {
  color: #000;
}

@media screen and (max-width: 768px) {
  .subpage .teachers {
    flex-direction: column;
  }

  .teacher {
    width: 100%;
  }
}

/* about us subpage */

.subpage.subpageTeachers.subpageAboutUs .aboutUsText {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -5px #fff;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .subpage.subpageTeachers.subpageAboutUs .aboutUsText {
    padding: 20px;
  }
}

/* contact subpage  */

.subpage .contact-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.subpage .contact-datas {
  background-color: #fff;
  color: #000;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -5px #fff;
}

.subpage .contact-data a {
  color: unset;
  text-decoration: none;
}

.subpage .contact-data a:hover {
  text-decoration: underline;
}

.subpage .contact-data {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.subpage iframe {
  max-width: 100%;
  border-radius: 25px;
}

.icons {
  width: 16px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .subpage .contact-box {
    flex-direction: column;
  }

  .subpage .contact-datas {
    width: 100%;
  }
}

.login {
  background-color: #fff;
  color: #000;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -5px #fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.login input {
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 10px -2px#000;
  min-width: 300px;
}

.login input[type='submit'] {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.login input[type='submit']:hover {
  background-color: var(--main-color-hover);
}
