:root {
  --background: #e7e0ec;
  --surface: #fffbfe;
  --onSurface: #1c1b1f;
  --onSurfaceSecondary: #49484b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}

main {
  display: flex;
  height: 100%;
}

/* nav */

aside {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--surface);
  color: var(--onSurface);
  height: calc(100% - 32px);
  border-radius: 16px;
  padding: 20px 48px 20px 16px;
  opacity: 0.95;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #c4c7c5;
  margin: 16px 0;
}

.navItem {
  height: 56px;
  padding: 0 16px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navItem:hover {
  background-color: #e6e1e5;
}

.navItem.active {
  background-color: #e8def8;
}

.navItem.active:hover {
  background-color: #d0c7df;
}

.navItem .icon {
  display: flex;
  gap: 12px;
  text-transform: capitalize;
}

.userBox {
  text-transform: capitalize;
  font-size: 24px;
}

.userBox span {
  font-size: 16px;
  color: var(--onSurfaceSecondary);
}

/* main container */

#root {
  height: calc(100vh - 32px);
  padding: 16px;
  margin: 8px;
  border-radius: 16px;
  width: 100%;
  background-color: var(--surface);
  overflow-y: auto;
  overflow-x: hidden;
}

/* scroll bar on container */
* {
  scrollbar-width: auto;
  scrollbar-color: #e7e0ec #fffbfe;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #fffbfe;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e7e0ec;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* groups page */

.groups {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group {
  position: relative;
  overflow: hidden;
  background-color: #e7e0ec;
  border-radius: 16px;
  height: 65px;
  color: #49454e;
  transition: height 0.6s ease-in-out;
}

.group .card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 8px 16px;
}

.card:hover {
  background-color: #cfc9d4;
}

.group .expand {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px 16px;
  padding-top: 0;
}

.group .divider {
  margin: 0;
}

.expandMore {
  transition: all 0.2s ease-in-out;
  transform: rotate(0);
  transition-delay: 0.2s;
  padding: 5px;
  border-radius: 50%;
}

.group:hover .expandMore {
  background-color: #c4c7c5;
}

.group.active .expandMore {
  transform: rotate(-180deg);
  transition-delay: 0s;
}

.group h3,
.group p {
  margin: 0;
}

.group p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.teacherIcon {
  font-size: 24px;
}

.group.active {
  height: 300px;
}

table th {
  text-align: left;
}

/* checkbox on tables */

.checkBoxContainer {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.checkBoxContainer:hover {
  background-color: rgb(28, 27, 31, 0.08);
}

.checkBoxContainer.active:hover {
  background-color: rgb(103, 80, 164, 0.08);
}

.checkBox {
  width: 18px;
  height: 18px;
  border: 2px solid #1c1b1f;
  border-radius: 2px;
  display: grid;
  place-content: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.checkBox .icon {
  font-size: 18px;
  display: block;
  color: #ffffff;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.checkBoxContainer.active .checkBox,
.checkBoxContainer.indeterminate .checkBox {
  background-color: #6750a4;
  border: 0;
}

.checkBoxContainer.active .checkBox .icon,
.checkBoxContainer.indeterminate .checkBox .icon {
  opacity: 1;
}

/* table */

table {
  border-collapse: collapse;
  border-radius: 16px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

th:first-of-type,
td:first-of-type {
  padding-left: 16px;
}

tr {
  border: 1px solid #c4c7c5;
  height: 52px;
}

tr:first-of-type {
  height: 56px;
}

tr:hover {
  background-color: rgb(230, 225, 229, 0.5);
}

tr:first-of-type:hover {
  background-color: unset;
}

/* th.data-edit,
td.data-edit {
  text-align: center;
} */

.editContainer {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.editContainer:hover {
  background-color: rgb(28, 27, 31, 0.08);
}

.data-edit .icon {
  cursor: pointer;
}
